<!doctype html>
{% load static %}
<html lang="en">
<head>
    {% include "head_preset.html" %}
    <link rel="stylesheet" href="{% static './styles/blogs_page.css' %}">
    <title>Chess - Blogs</title>
</head>
<body>
    <div class="container">
        {% include "aside_comp.html" %}
        <div class="main-component">
            <div id="blogs-head">
                <h1 class="component-title">Blogs</h1>
                <div id="blogs-arrange-options">
                    <form id="blogs-arrange-container" action="">
                        <div id="blogs-arrange-sort">
                            <div id="blogs-arrange-sort-title">Sort by:</div>
                            <div id="blogs-arrange-sort-criteria">
                                <select name="sort-order" id="blogs-arrange-sort-order">
                                    <option value="date">Date</option>
                                    <option value="length">Blog length</option>
                                </select>
                            </div>
                        </div>
                        <div id="blogs-arrange-filter">
                            <div id="blogs-arrange-filter-title">Filter by:</div>
                            <div id="blogs-arrange-filter-criteria">
                                <input type="text" name="filter-by-user" placeholder="Enter a username"/>
                                <input type="datetime-local" name="filter-by-date-start"/>
                                <input type="datetime-local" name="filter-by-date-end"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="blogs-list">
                {% for blog in blogs_list %}
                    <a class="no-a-decor" href="{% url 'opened_blog' blog.id %}">
                        <div class="blogs-list-element">
                            <!-- Side blog information -->
                            <div class="blogs-list-element-side">
                                <div class="blogs-list-element-image-frame">
                                    <img src="{% static element.author_image_url %}"
                                         alt="{{blog.author}}'s picture" class="blogs-list-element-image"/>
                                </div>
                                <div class="blogs-list-element-author">{{blog.author}}</div>
                            </div>
                            <!-- Main blog information -->
                            <div class="blogs-list-element-main">
                                <h2 class="blogs-list-element-title">{{blog.title}}</h2>
                                <div class="blogs-list-element-datetime">Published at: {{blog.datetime}}</div>
                                <div class="blogs-list-element-description">{{blog.description}}</div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>
