body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.aside-component {
    position: sticky;
    flex-basis: 270px;
    flex-shrink: 0;
}

.main-component {
    flex-grow: 1;
    overflow-y: auto;
}

.component-title {
    margin: 12px 0 16px 4px;
    text-align: center;
    font-size: 2.5em;
}
